* {
  padding: 0;
  margin: 0;
  
}

a {
  text-decoration: none;
}

.App {
  background: url('../public/wall.png') no-repeat center center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin-bottom: 16px;
}